#macro( message $key )$TemVal.resource.getMessage($key, null, $TemVal.locale)#end
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>meeting reminder</title>
</head>
<body style="margin:0 auto; width:100%; font-size:10pt; color:#666666; font-family:'Microsoft YaHei',微软雅黑,Arial; "  bgcolor="#f2f2f2">
<table align="center" cellpadding="0" cellspacing="0" border="0" width="600" bgcolor="#FFFFFF">
  <tbody>
	    <tr>
	      <td colspan="2">
		     <table align="center" class="banner" cellspacing="0" cellpadding="0" width="600" height="100">
		        <tbody>
		            <tr>
				      <td colspan="2">
					     <table align="center" class="banner" cellspacing="0" cellpadding="0" width="600" height="100" title="#message('msg.email.content.virsical.value1')">
					        <tbody>
					            <tr>
					     			<td  colspan="2" bgcolor="#f7f7f7" width="100%"><a href="http://www.virsical.com/"><img style="width:600px;" src="$!{TemVal.logo}" alt="#message('msg.email.content.virsical.value2')"/></a></td>
					    	 	</tr>
					    	 </tbody>
					     </table>
				      </td>
				    </tr>
		    	 	<tr>
		     			<td  colspan="2" bgcolor="#F2F2F2">
			     			<table cellpadding="0" cellspacing="0" style="margin:10px;" width="580" bgcolor="#FFFFFF">
				                 <tr>
				                    <td align="left" colspan="2" style="font-size:14pt; line-height:30px;">
		                                <span style="margin-left:10px;">$!{TemVal.value1}</span>
				                    </td>
				                 </tr>
		                    	<tr>
				                    <td colspan="2" align="left" style="font-size:12pt; line-height:30px;">
				                        <span style="margin-left:10px;">#message('meeting.moveDevice.message.hello') $!{TemVal.value2}#message(
				                            'msg.email.content.maohao')</span>
				                    </td>
			                    </tr>
			                    <tr>
				                    <td align="left" style="font-size:12pt; line-height:30px;">
				                        <span class="k2" style="margin-left:30px;">$!{TemVal.value3}</span>
				                    </td>
				                 </tr>
			                 </table>
		     			</td>
	     			</tr>
		    	 </tbody>
		     </table>
	      </td>
	    </tr>
	   <tr valign="top">
	      <td colspan="2">
	          <table cellpadding="10" style="background:#d8d8d8;" width="600">
	             <tr>
	               	<td style="height:60px;font-size: 12pt;">
	               		<span>&nbsp;&nbsp;&nbsp;海银金融控股集团有限公司</span><br />
	               		<span>&nbsp;&nbsp;&nbsp;联系电话：+86(21)8013 3999</span><br />
	               	</td>
	               	<td align="right">
	               		#if($!{TemVal.value18}==-1)
	               			<img src="$!{TemVal.imageDirectory}/code_vsk.jpg" width="60" height="60"  alt="海银金融公众号"  title="海银金融公众号"/>&nbsp;&nbsp;
	               		 #end
	               	</td>
	             </tr>
	           </table>
	       </td>
	   </tr>
   </tbody>
 </table>
</body>
</html>