<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:task="http://www.springframework.org/schema/task"
       xmlns:websocket="http://www.springframework.org/schema/websocket"
       xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
    http://www.springframework.org/schema/task  http://www.springframework.org/schema/task/spring-task-4.1.xsd
    http://www.springframework.org/schema/websocket http://www.springframework.org/schema/websocket/spring-websocket.xsd">

    <!-- 线程池 大小5-50个 等待执行的任务队列的容量500  线程池维护线程所允许的空闲时间300s-->
    <task:executor id="taskExecutor" pool-size="5-100" queue-capacity="500" keep-alive="300"/>
    <task:annotation-driven/>

    <!-- websocket消息处理 -->
    <bean id="websocket" class="com.wafersystems.notice.message.controller.WebSocketEndPoint"/>
    <websocket:handlers allowed-origins="*">
        <websocket:mapping path="/websocket" handler="websocket"/>
        <websocket:handshake-interceptors>
            <bean class="com.wafersystems.notice.message.interceptor.HandshakeInterceptor"/>
        </websocket:handshake-interceptors>
    </websocket:handlers>
    <bean class="org.springframework.web.socket.server.standard.ServletServerContainerFactoryBean">
        <property name="maxTextMessageBufferSize" value="10485670"/>
        <property name="maxBinaryMessageBufferSize" value="10485670"/>
        <property name="maxSessionIdleTimeout" value="180000"/>
        <property name="asyncSendTimeout" value="600000"/>
    </bean>

    <!-- 国际化配置 -->
    <bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
        <property name="basename" value="messages"/>
    </bean>

    <!-- velocity模板配置 -->
    <bean id="velocityEngine" class="org.springframework.ui.velocity.VelocityEngineFactoryBean">
        <property name="resourceLoaderPath" value="classpath:templates/vms/"/>
    </bean>

    <bean id="mailUtil" class="com.wafersystems.notice.util.EmailUtil">
        <property name="velocityEngine" ref="velocityEngine"/>
    </bean>
</beans>
