#macro( message $key )$TemVal.resource.getMessage($key, null, $TemVal.locale)#end
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>meeting reminder</title>
</head>
<body style="margin:0 auto; width:100%; font-size:10pt; color:#666666; font-family:'Microsoft YaHei',微软雅黑,Arial; "  bgcolor="#EFEFEF">
<table align="center" cellpadding="0" cellspacing="0" border="0" width="600" bgcolor="#FFFFFF">
  <tbody>
  	  <tr>
	      <td colspan="2">
		     <table align="center" class="banner" cellspacing="0" cellpadding="0" width="600" height="100" title="#message('msg.email.content.virsical.value1')">
		        <tbody>
		            <tr>
		     			<td  colspan="2" bgcolor="#f7f7f7" width="100%"><a href="http://www.virsical.com/"><img style="width:600px;" src="$!{TemVal.logo}" alt="#message('msg.email.content.virsical.value2')"/></a></td>
		    	 	</tr>
		    	 </tbody>
		     </table>
	      </td>
	    </tr>
	    <tr>
	      <td colspan="2">
		     <table align="center" class="banner" cellspacing="0" cellpadding="0" width="600" height="100">
		        <tbody>
		    	 	<tr>
		     			<td  colspan="2" bgcolor="#EFEFEF">
			     			<table cellpadding="0" cellspacing="0" style="margin:10px;" width="580" bgcolor="#FFFFFF">
				                 <tr>
				                    <td align="left" colspan="2" style="font-size:14pt; line-height:30px;">
		                                <span style="margin-left:10px;">
		                                    #if($!{TemVal.value5}==1)
		                                        #message('meeting.remind.message.mail.meeting_invite')
		                                    #elseif($!{TemVal.value5}==2)
		                                        #message('meeting.remind.message.mail.meeting_update_invite')
		                                    #elseif($!{TemVal.value5}==3)
		                                        #message('meeting.remind.message.mail.meeting_cancel_appoint')
		                                    #elseif($!{TemVal.value5}==4)
		                                        #message('meeting.remind.message.mail.meeting_reminder_appoint')
		                                    #elseif($!{TemVal.value5}==6 || $!{TemVal.value5}==7)
		                                        #message('meeting.remind.message.mail.meeting_ack_appoint')
	                                        #elseif($!{TemVal.value5}==8)
	                                    		#message('meeting.remind.message.mail.meeting_create_appoint')
	                                    	#elseif($!{TemVal.value5}==9)
	                                    		#message('meeting.remind.message.mail.meeting_update_appoint')
	                                    	#elseif($!{TemVal.value5}==15)	
	                                    		#message('meeting.remind.message.mail.alarm.tile')
	                                    	#elseif($!{TemVal.value5}==17)  
                                          #message('meeting.remind.message.mail.alarm.tile')	
	                                    	#elseif($!{TemVal.value5}==18) 
                                          		#message('meeting.remind.message.mail.willend.tile')
		                                    #elseif($!{TemVal.value5}==5 || $!{TemVal.value5}==10 || $!{TemVal.value5}==11 || $!{TemVal.value5}==12 || $!{TemVal.value5}==13)
		                                    	#message('meeting.remind.message.mail.meeting_appoint')
		                                    #elseif($!{TemVal.value5}==99)
		                                    	#message('meeting.remind.message.mail.meeting_svc_notice')
		                                    #elseif($!{TemVal.value5}==20)  
                                          #message('meeting.remind.message.mail.emailCancel.alarm.tile')
                                        #elseif($!{TemVal.value5}==21)  
                                          #message('meeting.remind.message.mail.emailCancel.alarm.tile')  	
		                                    #end
		                                </span>
				                    </td>
				                 </tr>
		                    	<tr>
				                    <td colspan="2" align="left" style="font-size:12pt; line-height:30px;">
				                    	#if($!{TemVal.value5}!=15 && $!{TemVal.value5}!=17 && $!{TemVal.value5}!=18 && $!{TemVal.value5}!=99 && $!{TemVal.value5}!=20 && $!{TemVal.value5}!=21)	
				                        	<span style="margin-left:10px;">#message('msg.email.content.invitUseSys.hello') $!{TemVal.value4}#message(
				                            	'msg.email.content.maohao')</span>
				                        #end    
				                    </td>
			                    </tr>
			                    <tr>
				                    <td align="left" style="font-size:12pt; line-height:30px;">
				                        <span class="k2" style="margin-left:10px;">
				                        	#if($!{TemVal.value5}==1 || $!{TemVal.value5}==2)
				                                #message('meeting.remind.message.mail.meeting_content_appoint')
				                            #elseif($!{TemVal.value5}==3)
				                                #message('meeting.remind.message.mail.meeting_content_appoint')
				                            #elseif($!{TemVal.value5}==4)
				                                #message('meeting.remind.message.mail.meeting_soon_appoint')
				                            #elseif($!{TemVal.value5}==5)
				                                #message('meeting.remind.message.mail.meeting_remove_appoint')
				                            #elseif($!{TemVal.value5}==6)#message(
				                                'meeting.remind.message.mail.meeting_attendee')$!{TemVal.value13}#message(
				                                'meeting.remind.message.mail.meeting_confirm_atten_appoint')
				                            #elseif($!{TemVal.value5}==7)#message(
				                                'meeting.remind.message.mail.meeting_attendee')$!{TemVal.value13}#message(
				                                'meeting.remind.message.mail.meeting_confirm_refus_appoint')
				                            #elseif($!{TemVal.value5}==8)
						                        #message('meeting.remind.message.mail.meeting_create_succ_appoint')
						                    #elseif($!{TemVal.value5}==9)
						                        #message('meeting.remind.message.mail.meeting_update_succ_appoint')
						                    #elseif($!{TemVal.value5}==10)
						                        #message('meeting.remind.message.mail.meeting_cancel_succ_appoint')
						                    #elseif($!{TemVal.value5}==11)
						                     	#message('meeting.remind.message.mail.meeting_audit_context')$!{TemVal.value16}#message('meeting.remind.message.mail.meeting_audit_pass')
						                    #elseif($!{TemVal.value5}==12)
						                 		#message('meeting.remind.message.mail.meeting_audit_context')$!{TemVal.value16}#message('meeting.remind.message.mail.meeting_audit_refuse')
						                    #elseif($!{TemVal.value5}==13)
						                     	#message('meeting.remind.message.mail.meeting_audit_not')
						                    #elseif($!{TemVal.value5}==15)
						                     	#message('meeting.remind.message.mail.alarm.content')<a href="$!{TemVal.value23}">#message('meeting.remind.message.mail.alarm.content.stop')</a>#message('meeting.remind.message.mail.alarm.content.or')<a href="$!{TemVal.value24}">#message('meeting.remind.message.mail.alarm.content.goon')</a>#message('meeting.remind.message.mail.alarm.content.end')
						                    #elseif($!{TemVal.value5}==16)
						                     	您有一个会议申请需要确认。
						                    #elseif($!{TemVal.value5}==17)
                                  #message('meeting.remind.message.mail.alarm.content')<a href="$!{TemVal.value23}">#message('meeting.remind.message.mail.alarm.content.stop')
						                    #elseif($!{TemVal.value5}==18)
                                 				 #message('meeting.remind.message.mail.willend.content1')
                                #elseif($!{TemVal.value5}==20)
                                    #message('meeting.remind.message.mail.emailCancel.alarm.content')
                                #elseif($!{TemVal.value5}==21)
                                    #message('meeting.remind.message.mail.autoCancel.alarm.content')
						                    #elseif($!{TemVal.value5}==99)
									            #message('meeting.remind.message.mail.clean.content')
						                    #end
				                        </span>
				                    </td>
				                    <td align="right" style="padding-right:5px;">
					                    #if($!{TemVal.value14}!="")
					                    	#if($!{TemVal.value19}==0)
					                    		<a href="$!{TemVal.value14}" style="line-height: 15px; border-radius:5px; padding:5px 10px; text-decoration:none; font-size:10pt; background:#0467BA; color:#ffffff; ">开启会议</a>
					                    	#elseif($!{TemVal.value19}==1)
					                    		<a href="$!{TemVal.value14}" style="line-height: 15px; border-radius:5px; padding:5px 10px; text-decoration:none; font-size:10pt; background:#0467BA; color:#ffffff; ">加入会议</a>
					                    	#end
					                    #elseif($!{TemVal.value5}==1 || $!{TemVal.value5}==2)
					                    	<a href="$!{TemVal.value15}" style="line-height: 15px; border-radius:2px; padding:5px 10px; text-decoration:none; font-size:10pt; background:#0467BA; color:#ffffff; ">需要回执</a>
					                    #end
				                    </td>
				                 </tr>
			                 </table>
		     			</td>
	     			</tr>
		    	 </tbody>
		     </table>
	      </td>
	    </tr>
       <tr valign="top">
	       <td colspan="2" bgcolor="#EFEFEF" style="padding: 0 10px 10px 10px;">
	   		 <table align="center"  valign="top"  cellspacing="0" cellpadding="0"  width="580" border="0" bgcolor="#FFFFFF">
	 			 <tbody>
        <tr valign="top"  align="center">
          <td colspan="2">
	        <table cellpadding="10" cellspacing="0" style="border-bottom:solid 1px #EFEFEF; border-top:1px solid #EFEFEF; border-collapse:collapse;" width="580" >
	          <tbody>
	          	#if($!{TemVal.value5} != 99)
	            <tr>
	              <td align="right" style="color:#b4b4b4;" width="25%">#message(
                  'msg.email.content.virsical.meeting_subject')</td>
	              <td width="75%" style="word-break:break-all">$!{TemVal.value8}</td>
	            </tr>
	            #end
	            <tr>
	              <td align="right" style="color:#b4b4b4;" width="25%">#message(
                  'msg.email.content.virsical.meeting_room')</td>
	              <td width="75%">$!{TemVal.value20}</td>
	            </tr>
	            <tr>
	              <td align="right" style="color:#b4b4b4;" width="25%">#message(
                  'msg.email.content.virsical.meeting_startTime')</td>
	              <td width="75%">$!{TemVal.value1} #message(
                  'msg.email.content.virsical.meeting_timezone')</td>
	            </tr>
	            <tr>
	              <td align="right" style="color:#b4b4b4;" width="25%">#message(
                  'msg.email.content.virsical.meeting_endTime')</td>
	              <td width="75%">$!{TemVal.value2} #message(
                  'msg.email.content.virsical.meeting_timezone')</td>
	            </tr>
	            <tr>
	              <td align="right" style="color:#b4b4b4;" width="25%">#message(
                  'msg.email.content.virsical.meeting_creator')</td>
	              <td width="75%">$!{TemVal.value6}</td>
	            </tr>
	            <tr>
	              <td align="right" style="color:#b4b4b4;" width="25%">#message(
                  'meeting.remind.message.mail.meeting_host')</td>
	              <td width="75%">$!{TemVal.value9}</td>
	            </tr>
	            #if($!{TemVal.value5} != 99)
	            <tr>
	              <td align="right" style="color:#b4b4b4;" width="25%">#message(
                  'msg.email.content.virsical.meeting_attendee')</td>
	              <td width="75%">$!{TemVal.value10}</td>
	            </tr>
	            #end
	            #if($!{TemVal.value5} != 99)
	            <tr>
	              <td align="right" style="color:#b4b4b4;" width="25%">#message(
                  'msg.email.content.virsical.meeting_remark')</td>
	              <td width="75%">$!{TemVal.value11}</td>
	            </tr>
	            #end
	            #if($!{TemVal.value5} != 99)
	            <tr>
	              <td align="right" style="color:#b4b4b4;" width="25%">#message(
                  'msg.email.content.virsical.meeting_loop')</td>
	              <td  width="75%">  
	              	  #if($!{TemVal.value12}==1)
	                      <a style="line-height: 15px; border-radius:5px; padding:5px; text-decoration:none; font-size:9pt; border:1px solid #baddff; ">#message(
	                          'meeting.remind.message.mail.meeting_label_ordinary')</a>
	                  #elseif($!{TemVal.value12}==2)
	                      <a style="line-height: 15px; border-radius:5px; padding:5px; text-decoration:none; font-size:9pt; border:1px solid #baddff; ">#message(
	                          'meeting.remind.message.mail.meeting_label_loop')</a>
	                  #elseif($!{TemVal.value12}==3)
	                      <a style="line-height: 15px; border-radius:5px; padding:5px; text-decoration:none; font-size:9pt; border:1px solid #c0e4c5; ">#message(
	                          'meeting.remind.message.mail.meeting_label_webex')</a>
	                  #elseif($!{TemVal.value12}==4)
	                      <a style="line-height: 15px; border-radius:5px; padding:5px; text-decoration:none; font-size:9pt; border:1px solid #baddff; ">#message(
	                          'meeting.remind.message.mail.meeting_label_loop')</a>
	                      &nbsp;&nbsp;&nbsp;&nbsp;
	                      <a style="line-height: 15px; border-radius:5px; padding:5px; text-decoration:none; font-size:9pt; border:1px solid #c0e4c5; ">#message(
	                          'meeting.remind.message.mail.meeting_label_webex')</a>
	                  #elseif($!{TemVal.value12}==5)
	                  	  <a style="line-height: 15px; border-radius:5px; padding:5px; text-decoration:none; font-size:9pt; border:1px solid #c0e4c5; ">#message(
	                          'meeting.remind.message.mail.meeting_label_video')</a>
	                  #elseif($!{TemVal.value12}==6)
	                      <a style="line-height: 15px; border-radius:5px; padding:5px; text-decoration:none; font-size:9pt; border:1px solid #baddff; ">#message(
	                          'meeting.remind.message.mail.meeting_label_loop')</a>
	                      &nbsp;&nbsp;&nbsp;&nbsp;
	                      <a style="line-height: 15px; border-radius:5px; padding:5px; text-decoration:none; font-size:9pt; border:1px solid #c0e4c5; ">#message(
	                          'meeting.remind.message.mail.meeting_label_video')</a>
	                  #end
	              </td>
	            </tr>
	            #end
	            #if($!{TemVal.value21}!="")
                <tr>
                    <td align="right" style="color:#b4b4b4;" width="25%">
						#message('msg.email.content.virsical.meeting_inviteCode')
					</td>
                    <td width="75%">$!{TemVal.value21}</td>
                </tr>
	            #end
	          </tbody>
	        </table>
         </td>
       </tr>
       <tr valign="top" >
          <td colspan="2">
          	<span style="display:inline-block;margin:25px 0px 25px 60px;font-size:12pt;">#message('msg.email.content.virsical.value7')</span>
	      </td>
	   </tr>
	 </tbody>
	 </table>
	  </td>
       </tr>
	   <tr valign="top">
	      <td colspan="2">
	          <table cellpadding="10" style="background:#d8d8d8;" width="600">
	             <tr>
	               	<td>&nbsp;&nbsp;&nbsp;#message('msg.email.content.virsical.value3')<br />
	               	&nbsp;&nbsp;&nbsp;#message('msg.email.content.virsical.value4')：400-685-3160<br />
	               	&nbsp;&nbsp;&nbsp;#message('msg.email.content.virsical.value5')：<a href="http://www.virsical.com/">www.virsical.com</a><br /></td>
	               	<td align="right"><img src="$!{TemVal.imageDirectory}/virsical_dimcode.jpg" width="60" height="60"  alt="#message('msg.email.content.virsical.value6')"  title="#message('msg.email.content.virsical.value6')"/>&nbsp;&nbsp;</td>
	             </tr>
	           </table>
	       </td>
	   </tr>
   </tbody>
 </table>
</body>
</html>