#macro( message $key )$TemVal.resource.getMessage($key, null, $TemVal.locale)#end
<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <title>威思客</title>
  <meta name="divport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
  <style type="text/css">
    * {
      margin: 0;
      padding: 0;
    }
    a {
      text-decoration: none;
    }
    a:visited {
      color: #1E6BAC;
    }
    html {
      font-size: 16px;
      color: #333;
      font-weight:400;
    }
    body {
      max-width: 606px;
      background: #EFEFEF;
      margin: 0 auto;
      border: 1px solid #D7D7D7;
    }
    .header {
      width: 100%;
      height: 98px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .header > img {
      height: 100%;
      width:100%;
      object-fit: cover;
    }
    .header-line {
      width: 100%;
      height: 6px;
      background:linear-gradient(90deg,rgba(51,184,232,1) 0%,rgba(102,91,161,1) 100%);
    }
    .body {
      padding: 22px;
    }
    .body-content {
      height: 145px;
      background: #fff;
      padding: 35px;
      font-size: 16px;
      color: #333;
      box-sizing: border-box;
    }
    .body-footer {
      height: 65px;
      border-top: 1px solid #F2F2F2;
      background: #fff;
    }
    .link {
      color: #1E6BAC;
    }
    .reset {
      color: #1E6BAC;
    }
    .footer {
      height: 86px;
      background:linear-gradient(90deg,rgba(226,226,226,1) 0%,rgba(235,233,236,1) 100%);
      display: flex;
      justify-content: space-between;
      padding: 20px;
      box-sizing: border-box;
    }
    .address {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .network {
      margin-bottom: 8px;
    }
    .qrcode {
      margin-top: -5px;
    }
    .content-hi{
      font-weight: 600;
    }
    .content-text{
      text-indent:2em;
    }
  </style>
</head>
<body>
<div class="header">
  <div></div>
  <img src="$!{TemVal.logo}">
</div>
<div class="header-line"></div>
<div class="body">
  <div class="body-content">
    <p class="content-hi">#message('msg.email.content.hi')<span class="link">$!{TemVal.value1}</span>： </p>
    <br/>
    <p class="content-text">$!{TemVal.value4} <a href="$!{TemVal.value2}" class="link" target="_bank">#message('msg.email.content.clickHere')</a></p>
  </div>

</div>
<div class="footer">
  <div class="address">
    <div class="network">威发系统有限公司<span class="link">（<a href="http://www.virsical.com" target="_bank">www.virsical.com</a>）</span></div>
    <div>售前咨询：400-685-3160</div>
  </div>
  <div>
    <img src="$!{TemVal.imageDirectory}/virsical_dimcode.jpg" class="qrcode">
  </div>
</div>
</body>
</html>
