#macro( message $key )$TemVal.resource.getMessage($key, null, $TemVal.locale)#end
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>meeting reminder</title>
</head>
<body style="margin:0 auto; width:100%; font-size:10pt; color:#666666; font-family:'Microsoft YaHei',微软雅黑,Arial; "
      bgcolor="#f2f2f2">
<table align="center" cellpadding="0" cellspacing="0" border="0" width="600" bgcolor="#FFFFFF">
    <tbody>
    <tr>
        <td colspan="2">
            <table align="center" class="banner" cellspacing="0" cellpadding="0" width="600"
                   height="100" title="#message('msg.email.content.virsical.value1')">
                <tbody>
                <tr>
                    <td colspan="2" bgcolor="#f7f7f7" width="100%"><a
                            href="http://www.virsical.com/"><img style="width:600px;height:100px"
                                                                 src="$!{TemVal.logo}"
                                                                 alt="#message(
                                                                     'msg.email.content.virsical.value2')"/></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <table align="center" class="banner" cellspacing="0" cellpadding="0" width="600"
                   height="100">
                <tbody>
                <tr>
                    <td colspan="2" bgcolor="#F2F2F2">
                        <table cellpadding="0" cellspacing="0" style="margin:10px;" width="580"
                               bgcolor="#FFFFFF">
                            <tr>
                                <td align="left" colspan="2"
                                    style="font-size:14pt; line-height:30px;">
		                                <span style="margin-left:10px;">
		                                    <span>
                                                Mobile Device Application
		                                    </span>
		                                    <span>
		                                        #if($!{TemVal.locale} == "en_US" || $!{TemVal.locale} == "en")
                                                    #message('meeting.moveDevice.message.mail_zh')
                                                #else
                                                    #message('meeting.moveDevice.message.mail')
                                                #end
		                                    </span>
                                        </span>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" align="left"
                                    style="font-size:12pt; line-height:30px;">
				                        <span style="margin-left:10px;">#message(
                                            'meeting.moveDevice.message.hello') $!{TemVal.value7}#message(
                                            'msg.email.content.maohao')</span>
                                </td>
                            </tr>
                            <tr>
                                <td align="left" style="font-size:12pt; line-height:30px;">
				                        <span class="k2" style="margin-left:10px;">
                                            #message('meeting.moveDevice.message.content')
                                        </span>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr valign="top">
        <td colspan="2" bgcolor="#F2F2F2" style="padding: 0 10px 10px 10px;">
            <table align="center" valign="top" cellspacing="0" cellpadding="0" width="580"
                   border="0" bgcolor="#FFFFFF">
                <tbody>
                <tr valign="top" align="center">
                    <td colspan="2">
                        <table cellpadding="10" cellspacing="0"
                               style="border-bottom:solid 1px #f2f2f2; border-top:1px solid #f2f2f2; border-collapse:collapse;"
                               width="580">
                            <tbody>
                            <tr>
                                <td align="right" style="color:#b4b4b4;" width="25%">
                                    <span>
                                        Title&nbsp;:
                                    </span>
                                    <span>
                                        #if($!{TemVal.locale} == "en_US" || $!{TemVal.locale} == "en")
                                            #message('msg.email.content.virsical.meeting_subject_zh')
                                        #else
                                            #message('msg.email.content.virsical.meeting_subject')
                                        #end
                                    </span>
                                </td>
                                <td width="75%" style="word-break:break-all">$!{TemVal.value1}</td>
                            </tr>
                            <tr>
                                <td align="right" style="color:#b4b4b4;" width="25%">
                                    <span>
                                        Room&nbsp;:
                                    </span>
                                    <span>
                                        #if($!{TemVal.locale} == "en_US" || $!{TemVal.locale} == "en")
                                            #message('msg.email.content.virsical.meeting_room_zh')
                                        #else
                                            #message('msg.email.content.virsical.meeting_room')
                                        #end
                                    </span>
                                </td>
                                <td width="75%">$!{TemVal.value2}</td>
                            </tr>
                            <tr>
                                <td align="right" style="color:#b4b4b4;" width="25%">
                                    <span>
                                        Start&nbsp;:
                                    </span>
                                    <span>
                                        #if($!{TemVal.locale} == "en_US" || $!{TemVal.locale} == "en")
                                            #message('msg.email.content.virsical.meeting_startTime_zh')
                                        #else
                                            #message('msg.email.content.virsical.meeting_startTime')
                                        #end
                                    </span>
                                </td>
                                <td width="75%">$!{TemVal.value3} #message(
                                    'msg.email.content.virsical.meeting_timezone')</td>
                            </tr>
                            <tr>
                                <td align="right" style="color:#b4b4b4;" width="25%">
                                    <span>
                                        End&nbsp;:
                                    </span>
                                    <span>
                                        #if($!{TemVal.locale} == "en_US" || $!{TemVal.locale} == "en")
                                            #message('msg.email.content.virsical.meeting_endTime_zh')
                                        #else
                                            #message('msg.email.content.virsical.meeting_endTime')
                                        #end
                                    </span>
                                </td>
                                <td width="75%">$!{TemVal.value4} #message('msg.email.content.virsical.meeting_timezone')</td>
                            </tr>
                            <tr>
                                <td align="right" style="color:#b4b4b4;" width="25%">
                                    <span>
                                        Host&nbsp;:
                                    </span>
                                    <span>
                                        #if($!{TemVal.locale} == "en_US" || $!{TemVal.locale} == "en")
                                            #message('msg.email.content.virsical.meeting_host_zh')
                                        #else
                                            #message('msg.email.content.virsical.meeting_host')
                                        #end
                                    </span>
                                </td>
                                <td width="75%">$!{TemVal.value5}</td>
                            </tr>
                            <tr>
                                <td align="right" style="color:#b4b4b4;" valign="top" width="25%">
                                    <span>
                                        Move device:
                                    </span>
                                    <span>
                                        #if($!{TemVal.locale} == "en_US" || $!{TemVal.locale} == "en")
                                            #message('meeting.moveDevice.message.move.name_zh')
                                        #else
                                            #message('meeting.moveDevice.message.move.name')
                                        #end
                                    </span>
                                </td>
                                <td width="75%">
                                    <table width="80%">
                                        <tr style="background: #F8F6F5;">
                                            <td align="left" width="50%" height="40px"
                                                style="border-bottom: 1px solid #E4E4E4;">#message(
                                                'meeting.moveDevice.message.move.device.title')</td>
                                            <td align="right" width="50%" height="40px"
                                                style="border-bottom: 1px solid #E4E4E4;">#message(
                                                'meeting.moveDevice.message.move.count.title')</td>
                                        </tr>
                                        $!{TemVal.value6}
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr valign="top">
                    <td colspan="2">
                        <span style="display:inline-block;margin:25px 0px 25px 60px;font-size:12pt;">
                            <span>
                                I Wish You a Happy Work.
                            </span>
                            <span>
                                #if($!{TemVal.locale} == "en_US" || $!{TemVal.locale} == "en")
                                    #message('msg.email.content.virsical.value7_zh')
                                #else
                                    #message('msg.email.content.virsical.value7')
                                #end
                            </span>
                        </span>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
        #if($!{TemVal.value8}=="1")
        <tr valign="top">
            <td colspan="2">
                <table cellpadding="10" style="background:#d8d8d8;" width="600">
                    <tr>
                        <td>&nbsp;&nbsp;&nbsp;#message('msg.email.content.virsical.value3')<br/>
                            &nbsp;&nbsp;&nbsp;#message('msg.email.content.virsical.value4')
                            ：400-685-3160<br/>
                            &nbsp;&nbsp;&nbsp;#message('msg.email.content.virsical.value5')：<a
                                    href="http://www.virsical.com/">www.virsical.com</a><br/></td>
                        <td align="right"><img src="$!{TemVal.imageDirectory}/code_vsk.jpg"
                                               width="60" height="60"
                                               alt="#message('msg.email.content.virsical.value6')"
                                               title="#message(
                                                   'msg.email.content.virsical.value6')"/>&nbsp;&nbsp;
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        #end
    </tbody>
</table>
</body>
</html>
