#macro( message $key )$TemVal.resource.getMessage($key, null, $TemVal.locale)#end
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        img {
            border: 0;
        }

        .main {
            width: 600px;
            margin: 0 auto;
            background-color: #fff;
            border: 1px solid #dedede;
            font-family: 微软雅黑;
        }

        .container {
            margin: 20px;
        }

        .page-title {
            border-bottom: #d4d6d5 solid 2px;
            font-size: 20px;
            line-height: 2;
            font-weight: bold
        }

        .mail-wrap {
            font-size: 16px;
            margin: 25px 0 20px 0;
        }

        .mail-wrap-end {
            font-size: 16px;
            margin: 0 0 25px 0;
        }

        .mail-container {
            line-height: 2.5;
            width: 100%;
        }

        .mail-container td {
            /*padding: 5px 10px;*/
            color: #57585a;
        }

        .mail-container td.left {
            width: 135px;
            text-align: left;
            line-height: 1.5;
            color: #888888;
        }

        .code {
            text-align: center;
            font-size: 20px;
            font-weight: bold;
            line-height: 1.5;
            color: #55595a;
        }

        .code img{
            width: 100px;
            height: 100px;
        }

        .footer {
            background: #d8d8d8;
            padding: 10px 20px;
        }

        .link {
            text-decoration: none;
            color: #1212ee;
        }

        .lh150 {
            line-height: 1.5;
        }

        .w100 {
            width: 100%;
        }

        .fb{
            font-weight: bold;
        }
    </style>
</head>
<body>
<div class="main">
    <div class="header"><img src="$!{TemVal.imgPathBanner}" alt=""></div>
    <div class="container">
        <br>
        <div class="page-title"><div>Visit Confirmed</div><div>访问邀请确认函</div></div>
        <div class="mail-wrap">Dear $!{TemVal.value2}：</div>
        <div class="mail-wrap-end">We are pleased to inform you of your visit booking with $!{TemVal.value1} in the following</div>
        <div class="mail-wrap">$!{TemVal.value2}，您好！</div>
        <div class="mail-wrap-end">您访问 $!{TemVal.value1} 的预定已经成功，具体访问细节如下：</div>
        <table class="mail-container">
            <tr>
                <td class="left">Host name:<br/>邀请人:</td>
                <td >$!{TemVal.value3}</td>
            </tr>
            <tr>
                <td class="left">Booking time:<br/>预约时间：</td>
                <td >$!{TemVal.value4}</td>
            </tr>
            <tr>
                <td class="left">Phone number:<br/>联系电话：</td>
                <td >$!{TemVal.value5}</td>
            </tr>
            <tr>
                <td class="left">Address:<br/>公司地址：</td>
                <td >$!{TemVal.value6}</td>
            </tr>
            <tr>
                <!--<td  valign="top"><div>QR Code:</div><div>邀请码：</div></td>-->
                <td class="left">
                    <div class="code"><img src="$!{TemVal.value7}" alt=""><br/>$!{TemVal.value8}</div>
                </td>
                <td class="lh150">
                    <div>Please save this QR code on your phone or print it out when you are visiting.</div>
                    <div>请保存二维码或打印此函，到达后可扫描二维码或输入邀请码（iPad）完成签到。</div>
                </td>
            </tr>
        </table>
        <div class="mail-wrap">We wish you a pleasant day!</div>
        <div class="mail-wrap-end">祝您度过愉快的一天!</div>
    </div>
    <div class="footer">
        <table class="w100">
            <tr>
                <td class="lh150">#message('msg.email.content.common.companyName')<br/>#message('msg.email.content.common.askBeforeSale')400-685-3160<br/>#message('msg.email.content.common.webSite')<a href="http://www.virsical.com" class="link"
                                                                                                                                                                                                         target="_blank">www.virsical.com</a>
                </td>
                <td align="right"><img src="$!{TemVal.imgPathDimcode}" alt=""></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>
