<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wafersystems.notice.mapper.AlertConfMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wafersystems.notice.entity.AlertConf">
        <result column="id" property="id"/>
        <result column="tenant_id" property="tenantId"/>
        <result column="type" property="type"/>
        <result column="state" property="state"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <!-- 通用查询映射结果 -->
    <resultMap id="ResultMap" type="com.wafersystems.notice.entity.AlertConf">
        <result column="id" property="id"/>
        <result column="tenant_id" property="tenantId"/>
        <result column="type" property="type"/>
        <result column="state" property="state"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <collection column="recipients" property="recipients" javaType="ArrayList"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        tenant_id, type, state, create_time, update_time
    </sql>

    <select id="getConfByTenant" resultMap="ResultMap">
        SELECT
            ac.* ,
            ar.recipient
        FROM
            alert_conf AS ac
            LEFT JOIN alert_recipient ar ON ac.id = ar.alert_conf_id
        WHERE
            ac.tenant_id = #{tenantId};
    </select>
</mapper>
