<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wafersystems.notice.mapper.NtcParameterMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wafersystems.notice.entity.NtcParameter">
    <result column="id" property="id" />
        <result column="param_desc" property="paramDesc" />
        <result column="param_key" property="paramKey" />
        <result column="param_value" property="paramValue" />
        <result column="type" property="type" />
        <result column="tenant_id" property="tenantId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        param_desc, param_key, param_value, type, tenant_id
    </sql>

</mapper>
